:root {
  --c-black: #222;
  --c-white: #fff;
  --c-purple: #110b20;
}

html {
  background-color: var(--c-purple);
  font-size: 16px;
  line-height: 1.2;
  font-family: sans-serif;
  color: var(--c-white);
}

.title {
  text-align: center;
  font-size: 54px;
}

.main {
  max-width: 1000px;
  padding: 1rem;
  margin: 0 auto;
}
